<!DOCTYPE html>
<head>

    <title>

</title>
<link rel="stylesheet" href="/css/styles.css">
{{!-- <script src="/js/javas.js"></script> --}}
</head>
<body>
    {{>header}}
    {{!-- <h1></h1> --}}
    <p>Hello!! I am from {{place}}</p>
    <p>This app gives <strong class="doThis">close to real time</strong> weather of a place.</p>
    <p>It uses data from <span class="here"> weatherstack and mapbox api</span></p>
    {{>footer}}
    {{!-- <h4>{{age}}</h4> --}}
</body>