<!DOCTYPE html>
<head>
    <title>
VortexVision
</title>
<link rel="stylesheet" href="/css/styles.css">
{{!-- <script src="/js/javas.js"></script> --}}
</head>
<body>
    {{>header}}
    {{!-- <h1>provide address in the given form</h1> --}}
    <ul>
        <li>provide your location</li>
        <li>eg {{place}}</li>
        <li>Enjoy</li>
    </ul>
    {{>footer}}
</body>