<!DOCTYPE html>
<head>

<title>
    VortexVision
</title>
<link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    {{>header}}
    <h1>Hello there!</h1>
    <h3>This is the page where you can get the weather!<br>In case you do not know how to use, click help</h3>
    
    <p>Hello {{name}}</p>

    {{!-- <h4>{{age}}</h4> --}}

    
<form>
    <input type="text", placeholder="Enter location" class="inpF">
    <button class="btF">search</button>
</form>

<p id="para1"></p>
<p id="para2"></p>
<script src="/js/javas.js"></script>
    {{>footer}}
</body>